
<h1> Total Spending: </h1>
<p>Total spent across all transactions: <%= Transaction.total %> </p>

<h1> Sorting Options </h1>

<p> Show total spending by tag: </p> <form action="/budget/show/tag/" method="post">


    <label>Tag ID:
      <input type="text" name="tag_id">
    </label>


    <input type="submit" value="SUBMIT">
  </form>


<p> Show total spending for month: </p> <form action="/budget/show/month/" method="post">


    <label>Month: (number)
      <input type="text" name="month">
    </label>


    <input type="submit" value="SUBMIT">
  </form>



<h1> List of Transactions </h1>

<table>
  <tr>
    <th>ID</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Tag ID</th>
    <th>Value</th>
    <th>Date</th>
    <th>Delete</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.merchant %></td>
        <td><%= Tag.return_name(transaction.tag_id) %> </td>
        <td><%= transaction.tag_id %> </td>
        <td><%= transaction.value %> </td>
        <td> <%= transaction.datestore.strftime("%d %b %Y") %></td>
        <td><form action="/budget/delete/<%= transaction.id %>" method="POST">
          <input type="submit" value="delete" />
        </form></td>
  </tr>
  <% end %>
</table>