
<h1> List of Transactions </h1>

<table>
  <tr>
    <th>ID</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Value</th>
    <th>Date</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.merchant %></td>
        <td><%=transaction.tag_id %> </td>
        <td><%= transaction.value %> </td>
        <td> <%= transaction.datestore %></td>

  </tr>
  <% end %>
</table>